@mixin flex-b($con, $wrap, $align) {
    justify-content: $con;
    align-items: $align;
    flex-wrap: $wrap;
}
.btn{
    padding: 6px 12px;
    border: none;
    border-radius: 4px;   
    outline: none;
    transition: box-shadow 0.1s ease-out;
    &:hover{
        box-shadow: 0px 0px 0px 2px #444;
    }
}

@mixin btnType($type){
    @if $type == primary {
        background-color: rgb(29, 96, 173);
        color: #fff;
        &:hover{
            box-shadow: 0px 0px 0px 3px rgb(22, 75, 136);
            }
    } 
    @else if $type == warning{
        background-color:  rgb(219, 23, 23);
        color: #fff;
        &:hover{
            box-shadow: 0px 0px 0px 3px rgb(189, 31, 31);
        }
    }
    @else if $type == success{
        background-color: rgb(25, 161, 86);
        color: #fff;
        &:hover{
        box-shadow: 0px 0px 0px 3px rgb(19, 121, 65);
        }
    }
    @else{
        background-color: #eee;
        color: #333;
    }
}
// .btn-primary{
//     @extend .btn;
//     @include btnType(primary);
// }

// .btn-warning{
//     @extend .btn;
//     @include btnType(warning);
// }
// .btn-success{
//     @extend .btn;
//     @include btnType(success);
// }
.row{
    display: flex;
    @include flex-b(center, wrap, top);
}
.top-margin{
    margin-top: 70px;
}